<table class='table' >
  	<thead>
  		<th>Username</th>
  		<th>Phone</th>
  		<th>Datetime</th>
  		<th>Barber</th>
  		<th>Color</th>
  	</thead>

    <body>
    <% @results.each do |row|%>
      <tr>
          <td><%= row['username'] %></td>
          <td><%= row['phone'] %></td>
          <td><%= row['datestamp'] %></td>
          <td><%= row['barber'] %></td>
          <td><%= row['color'] %></td>
      </tr>

    <% end %>
    </body>
    
</table>
